* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

:root {
  color: #333333;
}

main {
  width: 1120px;
  margin: 80px auto 142px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

h3 {
  font-size: 28px;
  margin-bottom: 4px;
}

img {
  width: fit-content;
  border-radius: 28px;
}

strong {
  color: #E1624F;

  margin-bottom: 8px;
}

#content-top {
  padding-bottom: 40px;
}

#content-top img {
  margin: 44px 0 24px;
}

#content-top p {
  text-align: center;
  font-style: italic;
}

#content-second {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

#content-second section {
  margin: 64px 0;
}

#content-second ol .places {
  font-size: 28px;
  font-weight: 700;
  margin-left: 40px;
}

#tips img {
  margin-bottom: 20px;
}

#tips ul p {
  font-weight: 700;
}

#tips ul {
  margin-bottom: 48px;
}

footer {
  margin-top: 40px;
  text-align: center;
}

footer p {
  margin-bottom: 70px;
}

footer span {
  font-family: 'Alice', serif;
  color: #333333;
}